In [5]:
import numpy as np
import pandas as pd
import matplotlib

In [8]:
df = pd.read_csv('hoho.csv')

In [10]:
df.tail()

                           Timestamp      Group  People
76                        1688329655   SIŁOWNIA       3
77  2023-07-02 20:28:38.626557+00:00    FITNESS       3
78  2023-07-02 20:28:38.626557+00:00  PŁYWALNIA      50
79  2023-07-02 20:28:38.626557+00:00      SAUNA      17
80  2023-07-02 20:28:38.626557+00:00   SIŁOWNIA       3